In [1]:
name=['ali','usman','omer']

In [2]:
name

['ali', 'usman', 'omer']

In [3]:
name [0]

'ali'

In [7]:
std1=['ali',20,'alinizami.007619@gmail.com']

In [8]:
print(std1)

['ali', 20, 'alinizami.007619@gmail.com']

In [9]:
name

['ali', 'usman', 'omer']

In [10]:
name.append('taha')

In [11]:
name

['ali', 'usman', 'omer', 'taha']

In [12]:
std1.append(22)

In [13]:
std1

['ali', 20, 'alinizami.007619@gmail.com', 22]

In [14]:
std1.insert(2,'azizabad')

In [15]:
std1

['ali', 20, 'azizabad', 'alinizami.007619@gmail.com', 22]

In [16]:
std1[3] = 'banodil24@gmail.com'

In [17]:
std1

['ali', 20, 'azizabad', 'banodil24@gmail.com', 22]

In [18]:
name

['ali', 'usman', 'omer', 'taha']

In [19]:
name.remove('taha')

In [20]:
name

['ali', 'usman', 'omer']

In [21]:
del(std1[3])

In [22]:
std1

['ali', 20, 'azizabad', 22]

In [23]:
name

['ali', 'usman', 'omer']

In [24]:
name.remove('2')

ValueError: list.remove(x): x not in list

In [25]:
name

['ali', 'usman', 'omer']

In [27]:
del(name[2])

In [28]:
name

['ali', 'usman']

In [29]:
std1

['ali', 20, 'azizabad', 22]

In [31]:
name.append('ali')

In [32]:
name

['ali', 'usman', 'ali']

In [35]:
pizzatopping = ['mushroom','chicken','black olives','green olives','capsicuum']

In [38]:
pizzatopping

['mushroom', 'chicken', 'black', 'black olives', 'green olives', 'capsicuum']

In [39]:
user_input = input("enter the pizza")

enter the pizzabeef

In [46]:
pizzatooping=['mushroom','chicken','black olives','green olives','capsicuum']
user_input= input("which topping you want to add......?")
user_input.lower()
if user_input.lower() in pizzatopping:
    print("you have ordered",user_input,"for your pizza")
        
else:
    print("soory! we are out of order")

which topping you want to add......?chicken
you have ordered chicken for your pizza

In [47]:
['mushroom',
 'chicken',
 'black olives',
 'green olives',
 'capsicuum']

['mushroom', 'chicken', 'black olives', 'green olives', 'capsicuum']

In [57]:
pizzatopping

'capsicuum'

In [49]:
pizzatopping

'capsicuum'

In [50]:
pizzatopping

'capsicuum'

In [60]:
contries = ('pakistan','iran','uk')

In [63]:
contries[0]

'pakistan'

In [64]:
contries =['usa']

In [65]:
contries

['usa']

In [83]:
countries = ('pakistan','uk','usa')

In [2]:
countries [0]

NameError: name 'countries' is not defined

In [1]:
names = ('uk','usa','pakistan')

In [3]:
names [0]

'uk'

In [8]:
name=('ali')

In [9]:
name = name

In [10]:
name

'ali'

NameError: name 'std1' is not defined

In [3]:
std1= ['ali','omer','usman']

In [4]:
std1

['ali', 'omer', 'usman']

In [5]:
pizzatopping =['mushroom','chicken','black olives','green olives','capsicuum']

In [6]:
pizzatopping

['mushroom', 'chicken', 'black olives', 'green olives', 'capsicuum']

In [8]:
out_pizzatopping= pizzatopping[0:3:4]

In [9]:
out_pizzatopping

['mushroom']

In [11]:
pizzatopping

['mushroom', 'chicken', 'black olives', 'green olives', 'capsicuum']

In [13]:
out_pizzatopping= pizzatopping[::-1]

In [18]:
pizzatopping[::-1]

['capsicuum', 'green olives', 'black olives', 'chicken', 'mushroom']

In [21]:
for each in pizzatopping:
    print(each)

mushroom
chicken
black olives
green olives
capsicuum

In [23]:
for i in range (5):
    print(i)

0
1
2
3
4

In [22]:
range(5)

range(0, 5)

In [24]:
for q in range(5,10):
    print(q)

5
6
7
8
9

In [25]:
for w in range(5,10,3):
    print(w)

5
8

In [26]:
for a in range(0,20,3):
    print(a)

0
3
6
9
12
15
18

In [31]:
for s in range(20,2,-1):
    print(s)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [32]:
duplicates = "good morning"
for a in duplicates:
    print (a)

g
o
o
d

m
o
r
n
i
n
g

In [33]:
duplicates = "good morning"
l =[]
for a in duplicates:
    if a not in l:
        l.append(a)
l

['g', 'o', 'd', ' ', 'm', 'r', 'n', 'i']

In [37]:
duplicates = "good morning"
l =[]
for a in duplicates:
    if a not in l:
        l.append(a)
print(l)
unique_ = "".join(l)
unique_

['g', 'o', 'd', ' ', 'm', 'r', 'n', 'i']

'god mrni'

In [40]:
# 2* 3 = 6
a= int (input("enter your value"))
for s in range(1,11):
    print(a,"*",s,"=",s*a)

enter your value6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [2]:
std1

NameError: name 'std1' is not defined