# Dictionaries:

In [82]:
contacts = {
    'ali':127,
    'omer':3356,
    'fahad':5546
    

}

In [2]:
contacts

{'ali': 127, 'omer': 3356, 'fahad': 5546}

In [3]:
contacts['ali']

127

In [4]:
contacts['ali']=8899

In [5]:
contacts

{'ali': 8899, 'omer': 3356, 'fahad': 5546}

In [6]:
del contacts ['fahad']

In [7]:
contacts

{'ali': 8899, 'omer': 3356}

In [8]:
contacts.keys()

dict_keys(['ali', 'omer'])

In [10]:
contacts.values()

dict_values([8899, 3356])

In [13]:
contacts.items()

dict_items([('ali', 8899), ('omer', 3356)])

In [14]:
contacts['aziz']=23346

In [15]:
contacts

{'ali': 8899, 'omer': 3356, 'aziz': 23346}

In [16]:
contacts[11234]="sami"

In [17]:
contacts

{'ali': 8899, 'omer': 3356, 'aziz': 23346, 11234: 'sami'}

# for loop Dictionaries:

In [19]:
for a in contacts.keys():
    print(a)

ali
omer
aziz
11234

In [20]:
for j in contacts.values():
    print(j)

8899
3356
23346
sami

In [21]:
for a,j in contacts.items():
    print("keys :",a," values :",j)

keys : ali  values : 8899
keys : omer  values : 3356
keys : aziz  values : 23346
keys : 11234  values : sami

In [43]:
call ={
    'right':'left',
    'up':'down',
    
}
i=input("Enter any value: ").lower()
if i in call.keys():
    if i in call:
        print(call[c])

Enter any value: up
down

In [45]:
emp1 = {'id':77, 'name': 'ali', 'job':'manager'}
emp1

{'id': 77, 'name': 'ali', 'job': 'manager'}

In [48]:
employee = {
    'e1' :{'id':77, 'name': 'ali', 'job':'manager'},
    'e2' :{'id':65, 'name': 'usman', 'job':'qari'},
    'e3' :{'id':43, 'name': 'omer', 'job':'molana'},
    
}
employee['e1']

{'id': 77, 'name': 'ali', 'job': 'manager'}

In [64]:
employee = {
    'AI1' :{'id':77, 'name': 'ali', 'job':'manager'},
    'AI2' :{'id':65, 'name': 'usman', 'job':'qari'},
    'AI3' :{'id':43, 'name': 'omer', 'job':'molana'},
    
}
print(employee.get('AI1',"key not found"))

{'id': 77, 'name': 'ali', 'job': 'manager'}

# Dictionaries with lists and tuples:

In [86]:
e = [{'id':77, 'name': 'ali', 'job':'manager'},
    {'id':65, 'name': 'usman', 'job':'qari'},
    {'id':43, 'name': 'omer', 'job':'molana'},
    (4,'saad','hafeez'),]

print("printing value from dictionaries : ",e[1]['name'])
print("printing value from tulpe : ",e[3][1])

printing value from dictionaries :  usman
printing value from tulpe :  saad

In [63]:
users = {
    "ali" :["c","python"],
    "usman" : "Ruby",
    "mansoor" : ('php','html','css'),
    
    
}

print(users["mansoor"][0])
print(users["mansoor"][:]) #start:stop-1:step
print(users["ali"][:])

php
('php', 'html', 'css')
['c', 'python']

In [83]:
 contacts.popitem()

('fahad', 5546)

In [81]:
contacts.clear()
contacts

{}